
@function multiple-box-shadow ($n) {
    $value: '#{random(100)}vw #{random(300)}vh #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(100)}vw #{random(300)}vh #FFF'
    }
  
    @return unquote($value)
}

:global(a) {
    text-decoration: none;
    --font-size: 1.25rem;
    &.navbar--link {
        --font-color: var(--light-01);
        animation: all 0.5s ease-in-out;
        &::after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: var(--font-color);
            transition: 300ms;
        }
        &:hover::after {
            width: 100%;
        }
        &[aria-current="page"] {
            --font-color: var(--highlight-01);
            &::after {
                width: 100%;
            }
        }
    }
    &.home-page--action {
        width: 12rem;
        height: 4rem;
        border-radius: 1rem;
        --background: hsl(0, 0%, 0%);
        --font-color: var(--highlight-01);
        --font-family: "Nanum Gothic", "Space Grotesk", sans-serif;
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.15s;
        &:hover {
            --background: var(--highlight-01);
            --font-color: hsl(0, 0%, 0%);
            box-shadow: inset 0 0 6px var(--font-color);
        }
    }
}