@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
	font-family: "Death Star";
	src: url('assets/deathstar.woff') format('woff2'),
        url('assets/deathstar.woff2') format('woff');
}
:root {
    --light-01:     hsl(0, 0%, 100%);
    --light-02:     hsl(0, 0%, 90%);

    --highlight-01: hsl(84, 100%, 40%);
    --highlight-01-dark: hsl(84, 100%, 20%);
    --highlight-02: hsl(45, 100%, 60%);
    --highlight-03: hsl(00, 100%, 40%);
    --highlight-04: hsl(183, 98%, 50%);

    --dark-01:      hsl(0, 0%, 0%);
    --dark-02:      hsl(0, 0%, 10%);
    --dark-03:      hsl(0, 0%, 20%);
	
	--font-color: #fff;
	--font-size: 1rem;
	--font-weight: normal;
	--font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--letter-spacing: normal;
	--margins: inherit;
}

html {
	background: hsl(230, 25%, 5%);
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

body {
	margin: 0;
	box-sizing: border-box;
}

* {
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	color: var(--font-color);
	margin: var(--margins);
	letter-spacing: var(--letter-spacing);
}

ul {
  list-style: none;
}